.kwadrat {
    background-color: red;
    background-image: url(../albert.jpg);
    margin: auto;
    margin-top: 15%;
    width: 400px;
    height: 400px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}